<div>
  <!-- Descripcion -->
  <div class="container" id = "desc" style="padding-top: 10%;">
    <div class="row">
      <div class="col-8" style="background-color: rgba(77,83,89, 0.8); border-radius: 10px;">
        <div style="padding: 3%;">
          <h1 style="color: #97DB4F; font-weight: bolder; font-family: pixels; text-transform: uppercase; padding-bottom: 3%; padding-top: 2%;">Daniel Escalante Perez</h1>
          <p>
            I'm Daniel, a passionate software engineering student driven by love for what I do. Grit and craftsmanship define my approach to every project I encounter. I am constantly seeking ways to improve and thrive on pushing the limits of my skills and knowledge. Exploring new technologies and emerging trends is a never-ending adventure that fuels my curiosity and broadens my horizons.
          </p>
        </div>
      </div>
      <div class="col-4" style="display: flex; justify-content: center;">
        <img src="../../../assets/logo.jpeg" alt="logo" style = "height: 18em; border-radius: 10px;">
      </div>
    </div>
  </div>
  <div id = "techn" style="padding-bottom: 6%;"></div>
  <!-- Tecnologias -->
  <div class = "container" style="padding-top: 3%; box-shadow: 0 0 10px 2px #97DB4F; border-color: #97DB4F; border-width: 0.4em; border-style:solid; border-radius: 5px;">
    <div class = "row" style="text-align: center; padding-bottom: 2%; display: flex; justify-content: center;">
      <h2>Technologies</h2>
    </div>
    <div class = "row" id = "lineas">
      <div class = "col-4 celda" style="background-color: rgba(77,83,89, 1); border-radius: 10px;">
        <p id = "tech">Python</p>
      </div>
      <div class = "col-4 celda" style="background-color: rgba(77,83,89, 1); border-radius: 10px;">
        <p id = "tech">Java</p>
      </div>
      <div class = "col-4 celda" style="background-color: rgba(77,83,89, 1); border-radius: 10px;">
        <p id = "tech">Angular</p>
      </div>
    </div>
    <div class = "row" id = "lineas">
        <div class = "col-4 celda" style="background-color: rgba(77,83,89, 1); border-radius: 10px;">
          <p id = "tech">SQL</p>
        </div>
        <div class = "col-4 celda" style="background-color: rgba(77,83,89, 1); border-radius: 10px;">
          <p id = "tech">Javascript</p>
        </div>
        <div class = "col-4 celda" style="background-color: rgba(77,83,89, 1); border-radius: 10px;">
          <p id = "tech">Typescript</p>
        </div>
    </div>
    <div class = "row" id = "lineas">
      <div class = "col-4 celda" style="background-color: rgba(77,83,89, 1); border-radius: 10px;">
        <p id = "tech">Github</p>
      </div>
      <div class = "col-4 celda" style="background-color: rgba(77,83,89, 1); border-radius: 10px;">
        <p id = "tech">C</p>
      </div>
      <div class = "col-4 celda" style="background-color: rgba(77,83,89, 1); border-radius: 10px;">
        <p id = "tech">HTML</p>
      </div>
  </div>
    <div class = "row" id = "lineas" style="padding-bottom: 3%;">
        <div class = "col-4 celda" style="background-color: rgba(77,83,89, 1); border-radius: 10px;">
          <p id = "tech">CSS</p>
        </div>
        <div class = "col-4 celda" style="background-color: rgba(77,83,89, 1); border-radius: 10px;">
          <p id = "tech">Bootstrap</p>
        </div>
        <div class = "col-4 celda" style="background-color: rgba(77,83,89, 1); border-radius: 10px;">
          <p id = "tech">Oracle DB</p>
        </div>
    </div>
  </div>
  <!-- Lenguajes -->
  <div class = "container" id = "lengu" style="padding-top: 7%; padding-bottom: 5%;">
    <div class = "row" style="text-align: center; padding-bottom: 2%;  display: flex; justify-content: center;">
      <h2>Languages</h2>
    </div>
    <div class="row" style="display: flex; justify-content: center;">
      <div class = "col-4 lenguaje card mb-3" style="background-color: rgba(77,83,89, 1); padding: 0%;">
        <img class="card-img-top flag" src = "https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Colombia.svg/2560px-Flag_of_Colombia.svg.png">
        <div class="card-body">
          <h3 class="card-title">Spanish</h3>
          <p class="card-text level">Native</p>
        </div>
      </div>
      <div class = "col-4 lenguaje card mb-3" style="background-color: rgba(77,83,89, 1); padding: 0%;">
        <img class="card-img-top flag" src = "https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1200px-Flag_of_the_United_States.svg.png">
        <div class="card-body">
          <h3 class="card-title">English</h3>
          <p class="card-text level">B2</p>
        </div>
      </div>
      <div class = "col-4 lenguaje card mb-3" style="background-color: rgba(77,83,89, 1); padding: 0%;">
        <img class="card-img-top flag" src = "https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/1200px-Flag_of_France.svg.png">
        <div class="card-body">
          <h3 class="card-title">French</h3>
          <p class="card-text level">A1</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Educación y Experiencia -->
  <div class = "container" id = "xp" style="padding-top: 2%; padding-bottom: 5%;">
    <div class="row" style = "margin-bottom: 1%; text-align: center;  display: flex; justify-content: center;">
      <h2>Education and Experience</h2>
    </div>
    <div class="row" id = "exp">
      <span>High School - Fundación Educativa Rochester (Bogota, Colombia) - 2021 - Nominee for International Scholarship</span>
    </div>
    <div class="row" id = "exp">
      <Span>Undergraduate Software and Computer Engineering Program - Universidad de Los Andes (Bogota, Colombia) - 2025 - GPA: 4.83</Span>
    </div>
    <div class="row" id = "exp">
      <span>Class Assistant - Course: Fundamentals of Technologic Infrastructure - Universidad de Los Andes (Bogota, Colombia) - 2023</span>
    </div>
  </div>
  <!-- Contacto -->
  <div class = "container" id = "cont">
    <div class="row">
      <div class="col-3" id = "con" style="background-color: rgb(51, 51, 51);">
        Github
      </div>
      <div class="col-3" id = "con" style="background-color: rgb(0, 119, 181);">
        LinkedIn
      </div>
      <div class="col-3" id = "con" style="background-color: rgb(16, 186, 70);">
        Mail
      </div>
      <div class="col-3" id = "con" style="background-color: rgb(82, 113, 255);">
        Doni La Dona
      </div>
    </div>
  </div>
</div>
