div {
  font-family: 'Share Tech Mono', monospace;
}

.celda {
  margin: 0 1%;
  width: 10em;
  height: 3em;
  display: flex;
  vertical-align: middle;
  justify-content: center;

}

#tech{
  margin:auto;
  padding: 3%;
}

#lineas {
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
}

.lenguaje {
  margin: 0 1%;
  width: 20%;
}

h3 {
  text-align: center;
  color: #97DB4F;
}

.flag {
  height: 60%;
}

.level {
  text-align: center;
  color: white;
}

#exp {
  box-shadow: 0 0 10px 2px #97DB4F;
  border-color: #97DB4F;
  border-width: 0.2em;
  border-style:solid;
  border-radius: 5px;
  margin-bottom: 2%;
  text-align: center;
  background-color: black;
}

span{
  padding: 1%;
}

#con {
  font-weight: bold;
  font-size: larger;

}

@font-face {
  font-family: pixels;
  src: url("I-pixel-u.ttf");
}

h2 {
  font-family: pixels;
  text-transform: uppercase;
  background-color: black;
  width: fit-content;
  box-shadow: 0 0 10px 2px #97DB4F;
  border-color: #97DB4F;
  border-width: 0.1em;
  border-style:solid;
  border-radius: 5px;
  margin-bottom: 2%;
}

img#logo {
  height: 1.5em;
}

#logo2{
  height: 1.5em;
  padding-left: 4%;
  vertical-align: middle;
}

a:hover{
  color: white;
  text-decoration: underline;
}

a{
  color: white;
  text-decoration: none;
}
